# R artifacts
.Rproj.user
*.Rhistory
*.RData
*.Ruserdata

# devtools/roxygen build artifacts
/doc/
/Meta/
..Rcheck/

# Test output
/tests/testthat/Rplots.pdf

# Example outputs
inst/examples/Outputs/

# macOS
.DS_Store

# Windows
Thumbs.db